<!DOCTYPE html>
<!-- The previous line is important in DJango -->
{% load static %}
<!-- The previous line allows us to inject images from the static directory -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Logo Page</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
    <h1>This is a page with the Python logo on it.</h1>
    <img src="{% static 'images/python_logo.gif' %}" alt="The image did not show!">
    
</body>
</html>